// Resets
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Custom Properties

:root {
  // Colors

  --clr-primary-400: hsl(192, 37%, 48%);
  --clr-primary-500: hsl(192, 54%, 64%);
  --clr-primary-600: hsl(192, 90%, 77%);

  --clr-secondary-400: hsl(268, 34%, 53%);
  --clr-secondary-500: hsl(268, 55%, 71%);
  --clr-secondary-600: hsl(268, 100%, 86%);

  --clr-dark: hsl(240, 21%, 20%);
  --clr-light: hsl(0, 0%, 98%);
  --clr-gray: hsl(240, 10%, 57%);

  // Typography

  --font-body: "Red Hat Display", sans-serif;

  // Defaults

  color: var(--clr-dark);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 26px;

  @media screen and (min-width: 1024px) {
    font-size: 18px;
  }
}

// HTML Elements

h1 {
  font-weight: 900px;
  font-size: 40px;
  line-height: 44px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 48px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: 64px;
  }
}

h2 {
  font-weight: 900px;
  font-size: 32px;
  line-height: 36px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 44px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

// Imports
@import './utilities.scss';