// Colors

.clr-gray {
  color: var(--clr-gray);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}

.clr-primary-600 {
  color: var(--clr-primary-600);
}

.clr-secondary-600 {
  color: var(--clr-secondary-600);
}

// Typography

.overline {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}