<style lang="scss">
  div {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: content-box;
    
    max-width: 60ch;
    margin-top: 64px; // Fixes spacing issue from placement inside WithDivider component
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      margin-top: 16px;
    }
  }

  h2 {
    margin-bottom: 32px;
    max-width: 18ch;
  }

  .overline {
    margin-top: 0;
    order: -1;
  }

  p {
    max-width: 45ch;
  }
</style> 

<div>
  <h2 class="text-center">Smarter meetings, all in one place</h2>
  <p class="overline clr-primary-400">Built for modern use</p>
  <p class="text-center clr-gray">Send messages, share files, show your screen, and record your meetings — all in one 
		workspace. Control who can join with invite-only team access, data encryption, and data export.</p>
</div>