---
import Button from "../Button.astro";
---

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1350px) {
      flex-direction: row;
      align-items: center;
      gap: 90px;
    }
  }

  .img-left {
    @media screen and (min-width: 1350px) {
      flex-grow: 1;
      transform: translateX(-15%);
    }

  }

  .img-right {
    display: none;

    @media screen and (min-width: 1350px) {
      flex-grow: 1;

      display: block;
      margin-top: 64px;

      transform: translateX(15%);
    }
  }

  .hero-main {
    align-self: center;

    box-sizing: content-box;
    max-width: 450px;

    padding-left: 24px;
    padding-right: 24px;

    margin-top: 48px;
    
    & > * + * {
      margin-top: 32px;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 16px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }
  }
</style>

<section>
  <div class="img-left">
    <picture>
      <source media="(min-width: 1350px)" srcset="/assets/desktop/image-hero-left.png" />
      <img src="/assets/tablet/image-hero.png" alt="pictures of meet users">
    </picture>
  </div>

  <div class="hero-main">
    <h1 class="text-center">Group Chat for Everyone</h1>
    <p class="clr-gray text-center">
      Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
    </p>

    <div class="buttons">
      <Button color="primary" href="#">Download <span class="clr-primary-600">v1.3</span></Button>
      <Button color="secondary" href="#">What is it?</Button>
    </div>
  </div>

  <div class="img-right">
    <picture>
      <img src="/assets/desktop/image-hero-right.png" alt="pictures of meet users">
    </picture>
  </div>
</section>