---
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import ImagesSection from "../components/sections/ImagesSection.astro";
import About from "../components/sections/About.astro";
import Footer from "../components/sections/Footer.astro";

import WithDivider from "../components/WithDivider.astro";
---

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 64px;
	}
</style>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
	<link rel="stylesheet" href="{Astro.resolve('../styles/main.css')}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap" rel="stylesheet"> 
  
  <title>Frontend Mentor | Meet landing page</title>
</head>
<body>
	<Header />
	<main>
		<Hero />

		<WithDivider content="01">
			<ImagesSection />
			<About />
		</WithDivider>


		<WithDivider content="02">
			<Footer />
		</WithDivider>
	
	</main>
</body>
</html>