---
export interface Props {
  content: string;
}

const { content } = Astro.props;
---
<style lang="scss">
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      width: 1px;
      height: 84px;

      background-color: var(--clr-light-gray);
    }
  }

  span {
    position: relative;
    display: block;

    padding: 0.625em 1em;

    border: 1px solid var(--clr-light-gray);
    border-radius: 100vw;

    color: var(--clr-gray);
    font-size: 16px;
  }

</style>

<div>
  <span>{content}</span>
</div>